footer {
    padding: 4rem;
}

.minusmargin {
    margin-bottom: -50px;
}

a {
    text-decoration: none;
}

body{
    font-family: 'Roboto', sans-serif;
}

.navbar-brand{
    img{
    max-width: 150px;

    }
}

